[Unit]
Description=autoTracker.py Script to create Google Earth tracker
After=gpsd.service multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/pi/dashNav/autoTracker.py
WorkingDirectory=/home/pi/dashNav
#StandardOutput=inherit
#StandardInput=inherit
Restart=always
User=pi
Group=pi

[Install]
WantedBy=multi-user.target
